<header class="page-header header container-fluid">
  <div class="overlay"></div>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/cimg1.jpg" alt="Agriculture" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cimg2.jpg" alt="Vegetables" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cimg3.jpg" alt="Fruits" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cimg4.jpg" alt="Leafy Vegetables" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cimg5.jpg" alt="Horticulture" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cimg6.jpg" alt="Sprouts" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="description">
    <h1>Farming Digitally with Online Marketing</h1><br>
  </div>
</header>

<div class="container features">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1 class="feature-title">Crops</h1>
      <p>Select the crops you want to buy. Check the amount and select the quantity for the product to make higher bids.
      </p>
      <img src="../../assets/img1.jpg" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1 class="feature-title">Farmers</h1>
      <p>Farmers and product details. Adding new products with new bidding amount.</p>
      <img src="../../assets/img2.jpg" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1 class="feature-title">Bidders</h1>
      <p>Check for the new products available in the market and bid an amount.</p>
      <img src="../../assets/img3.jpg" class="img-fluid">
    </div>
  </div>
</div>