<div class="faq">
    <h1 align="middle">FAQ</h1>
    
        <ol>
            <li>
                <h4>How KisanMithra will operate?</h4>
                    KisanMithra is an electronic trading platform created for connecting Farmers, Retailers digitally.
                    It will offer plug-ins to any market yard existing in the state. Necessary customization shall be
                    undertaken to conform to the regulations of each of the state.
            </li>
            <li>
                <h4>What are key objectives of this scheme?</h4>
                To catalyze private investment in setting up of agri-business project. Increasing rural income and
                employment. To strengthen backward linkage of agri-business project with producers. Assign producer
                groups and agriculture graduates to enhance their participation in value chain.
            </li>
        </ol>
        <h2>**FAQs for Bidders</h2>
        <ol>
            <li>
                <h4>How to participate in the auction?</h4>
                The basic step is to register yourself in the website.
            </li>
            <li>
                <h4>What is the minimum bidding amount?</h4>
                The minimum amount for bidding will be Rs.10,000 (face value) and in multiples in Rs.10,000.
            </li>
            <li>
                <h4>How many bids can an investor make under this scheme?</h4>
                An investor can make only a single bid at a time in each specified auction.
            </li>
        </ol>
    
</div>