<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h4 class="text-uppercase font-weight-bold">Know more about our Website:</h4>
      </div>
      <nav class="navfooter">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/terms">Terms and Conditions</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/about">About Us</a>
        <a routerLink="/contact">Contact Us</a>
      </nav>
    </div>
    <div class="footer-copyright">
      <h3>© 2020 Copyright: KisanMithra.com</h3>
    </div>
  </div>
</footer>