<div class="privacypolicy">
    <h1 align="middle">Contact Us</h1>
    
        <div>
            <h2>Kisan - Maharashtra</h2>
            Office No. 502 Annex, Dimple Arcade, Opp. V Mall, Near Asha Nagar, Thakur Complex, Kandivili East,
            Mumbai-400 101.
            Phone: 022-4295 1028
        </div>

        <div>
            <h2>Kisan - Karnataka</h2>
            H.NO. 6-3-862/1 , FLAT NO.105, My Home Laxmi Niwas, Greenland’s Road, Bangalore – 500016.
            Phone: 040-48534261
        </div>

        <div>
            <h2>Kisan - Uttar Pradesh</h2>
            12/648, Sector 12, Indira Nagar, Lucknow 226016.
            Phone: 0522-4301001/2/3
        </div>

        <div>
            <h2>Kisan - Rajasthan</h2>
            1-B-43 , Segwa Housing Board, Opposit Pump House, Main Segwa Road, Chittorgarh (Rajasthan)- 312001.
            Phone: 0731-4991828
        </div>

        <div>
            <h2>Kisan - Madhya Pradesh</h2>
            FH-321, Scheme No.- 54, Behind Softvision College, Vijay Nagar, Indore PIN- 452010.
            Phone: 0731-4991828
        </div>

        <div>
            <h2>Kisan - Kerala</h2>
            CC NO. (40 /9266), 3rd Floor Mayur business Center, Pullpady Junction, Chittoor Road, Cochin, Kerala-682035.
            Phone: 0484-4032320
        </div>
    
</div>