<div class="about">
    <h1 align="middle"> About Us </h1>

        <h2> ** KisanMithra Goal</h2>
        1. Kisan Mithra is an organization which connects Farmers, Wholesalers, Retailers & Customers on common digital
        platform.
        <br>
        2. Kisan Mithra disclaims all responsibility and liability for the availability, timeliness, security or
        reliability
        of the services/products/goods displayed on the website.
        <br>

        <h2> ** Kisan Mithra Mission: </h2><br>
        To link small farmers to technology as well as to the markets in association with private, corporate or
        cooperative sector and if necessary,
        by providing backward and forward linkages.
        <br>

        <h2> ** Kisan Mithra Vision: </h2> <br>
        To bring entire agricultural sector and people on common digital platform.
        <br>

        <br> In today's digital world, Indian Agricultural sector and the farmers are backward for modernization &
        industrialization of its agricultural land. In today's world, buying and selling are done on single click with
        the use of internet. Indian information and Technology department has developed a application for farmers to
        help them to meet globalization race for farmers in online services. There has not been a slight change in past
        and present purchase and sales process of farmers goods. They take their goods to the nearest market and get the
        cost of the goods according to that of the market, so that they get less price of the product than the market
        price. Not getting the right price for our goods has become a matter of ordinary farmer.
</div>