<div class="privacypolicy">
    <h1 align="middle">Privacy Policy</h1>
    
        <h2>We value the trust you place in kisanMithra.com.</h2><br>
        That's why we insist upon the highest standards for secure transactions and customer information privacy. <br>
        Please read the following statement to learn about our information gathering and dissemination practices. <br>
        Note: Our privacy policy is subject to change at any time without notice.
        To make sure you are aware of any changes, please review this policy periodically.
        <br>
        <h2>** Collecting Personal Information</h2><br>
        We collect personally identifiable information (email address, name,phone number, etc.) from you when you set up
        a free account with kisanMithra.com. While you can browse some sections of our site without being a registered
        member, certain activities (such as placing an order)
        do require registration. We do use your contact information to send you offers based on your previous orders and
        your interests.
        <br>
        <h2>** Use of Profile Data</h2><br>
        We use personal information to provide the services you request. To the extent we use your personal information
        to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to
        resolve disputes; troubleshoot problems; help promote a safe service; collect fees owed; measure consumer
        interest in our products and services, inform you about online and offline offers, products, services, and
        updates; customize your experience; detect and protect us against error, fraud and other criminal activity;
        enforce our terms and conditions; and as otherwise described to you at the time of collection.
        <br>
        <h2>** Sharing Personal Information</h2><br>
        We may share personal information withour other corporate entities and affiliates to: help detect and prevent
        identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent
        abuse of our services; and to facilitate joint or co-branded services that you request where such services are
        provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of
        such sharing unless you explicitly opt-in. We may disclose personal information if required to do so by law or
        in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or
        other legal process.
        <br>
        <h2>** Copyright Policy</h2><br>
        Material featured on this Portal may be reproduced free of charge after taking proper permission by sending a
        mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or
        in a misleading context. Wherever the material is being published or issued to others, the source must be
        prominently acknowledged. However, the permission to reproduce this material shall not extend to any material
        which is identified as being copyright of a third party. Authorisation to reproduce such material must be
        obtained from the departments/copyright holders concerned.
        <br>
    
</div>