<div class="body">
    <h1>Add Product</h1>
    <div class="register">
        <form method="POST" id="register" action="">
            <label id="t"><b> Product Name: </b></label>
            <input type="text" name="pname" id="name" autofocus required><br />

            <label id="t"><b> Quantity: </b></label>
            <input type="text" name="quantity" id="name" autofocus required><br />

            <label id="t"><b> Start date of Bidding: </b> </label>
            <input type="date" name="sbid" id="name" autofocus required><br />

            <label id="t"> <b> End date of Bidding: </b> </label>
            <input type="date" name="ebid" id="name" autofocus required><br />

            <label id="t"><b> Price: </b></label>
            <input type="number" name="price" id="name" autofocus required><br />

            <label id="t"><b>Address:</b></label>
            <textarea name="area" id="name" placeholder="Enter your address"></textarea>
            <input type="submit" value="ADD" id="sub" autofocus><br />
        </form>
    </div>
</div>