<div class="body">

    <div class="login-box">
        <form>
            <div class="heading-title">Login </div>
            <label for="login">Login as:</label>
            <select id="login">
                <option value="farmer">Farmer</option>
                <option value="bidder">Bidder</option>
                <option value="admin">Admin</option>

            </select>
            <label id="t"><b>Mobile No:</b></label>
            <input type="text" id="no" /><br />
            <label id="t"><b>Password:</b></label>
            <input type="password" id="Password" /><br />
            <button id="btnLogin" class='button'>Login</button><br />

            <div class="link">Don't have an account? <a routerLink="/registration">Create account</a></div><br />

        </form>
    </div>
</div>