.termsandconditions {
    background-image: url(../../assets/commonbck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    line-height: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:rgb(207, 47, 47);
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    text-decoration-line: underline;
}